; Custom settings for colorize_lecroy.py
; waverunner - Purple themed waverunner style

; Arbitrary variables can be created assigning a key name and performing a substitution with %(key-name)s
;   my-var = red
;   Channels = %(my-var)s
;   Timebase = %(my-var)s

; Allowed color formats:
;   hex format=  #rgb or #rrggbb
;     ex:  #fff, #00ff00
;   rgb(red, green, blue) using integers from 0-255 or percentages
;     ex:  rgb(0,12,200), rgb(100%, 50%, 25%)
;   hsl(hue, saturation%, lightness%)
;     ex:  hsl(0, 100%, 25%)
;   HTML and X11 color names (http://en.wikipedia.org/wiki/Web_colors#HTML_color_names)
;     ex:  Red, red, blue, SlateGray

[colors]
; variables
traces = rgb(255,255,0)
primary = white
; end variables

Background           = rgb(66,56,116)  ; overall background color
Grid-Background      = black           ; background of grids
Grid                 = rgb(105,105,105) ; grid lines
Trace                = %(traces)s     ; signal traces
Trace-Reconstruction = rgb(255,190,0) ; color used for reconstructed trace segments that cross the grid lines

; Region colors
Time         = %(primary)s  ; time in upper left corner
Channels     = rgb(230,180,0)   ; channel list on left side
Channels-Text = black       ; color for text inside channel list boxes
Channels-Background = %(traces)s ; background fill for boxes in channel list
Timebase     = %(primary)s  ; timebase in lower left side
Probes       = %(primary)s  ; probe voltage and coupling in lower left corner
Left-Marker  = %(primary)s  ; trigger level and trigger delay markers on left and bottom of grid
Right-Marker = %(primary)s  ; trigger level and trace offset markers on right of grid
Cursors      = %(primary)s  ; cursor readout on bottom
Trigger      = %(primary)s  ; trigger settings on bottom
Menu         = #888  ; menus on right side
Menu-Text    = #ccc  ; color for text inside menu list boxes
Menu-Background = #333      ; background fill for boxes in menu list
Sample-Rate  = %(primary)s  ; sample rate in lower right corner
Trig-Mode    = %(primary)s  ; trigger mode in lower right corner

Parameters   = %(primary)s    ; parameter values in parameter grid mode
Parameters-Span = %(primary)s ; bar over top of parameter mode grid showing span for measurements
XY-Cursors   = %(primary)s    ; XY cursor values in top left of XY grid modes